.cantSee {
	display: none !important;
}

/* ================== showtable區 ==================*/
#example2 thead {
	background-color: #6c757d;
	color: white;
}

/* ================== 查詢區 ==================*/

.AGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-flow: column;
}

.AGrid2 {
	display: grid;
	grid-template-columns: 390px 67px 1fr;
	grid-auto-flow: column;
}

.search-svc {
	margin-bottom: 10px;
}

.my-select-style {
	padding: 1px 9px;
}

.form-control.inline-style{
	display:inline-block;
	width: 300px;
	height: 32px;
	border: 1px solid #7c7c7c;
}

/* ======== 價格 =========*/
.drawALine{
	display: inline-block;
	width: 35px;
	position: relative;
	top: 10px;
	margin : 0 5px;
}

.drawDownLine{
	border-bottom: 1px solid #7c7c7c;
}

.drawALine p{
	height: 15px;
	padding: 0;
	margin: 0;
}

.priceBeShort {
	width: 124.3px !important;
	text-align: center;
}

/* ======== 狀態 =========*/

.btn-group.btn-group-toggle {
    width: 300px;
    border: 1px solid #7c7c7c;
	border-radius: 0.25rem;
}

.btn.btn-light {
	padding: 3px;
}

/* ======== 查詢按鈕 =========*/
.search-submit {
    width: 100%;
    border-radius: 0.25rem;
    border: none;
    background-color: #6c757d;
    color: white;
    font-weight: 600;
    letter-spacing: 24px;
    text-align: center;
    padding: 6px;
    margin-top: 14px;
}

.search-submit.clear {
	background-color: white;
	border: 1px solid #7c7c7c;
	color: #6c757d;
}

/* ================== 選寵物父元素 ==================*/
#choose-pet-father {
	background-color: white;
}

/* ================== 寵物體型 ==================*/
#pet-size {
	border-radius: 0.25rem 0.25rem 0 0;
	background-color: #f3f5f6;
}

/* ================== 寵物品種 父元素 ==================*/
div.choose-type-price {
	min-height: 184px;
	border-bottom: 1px solid #ced4da;
	border-left: 1px solid #ced4da;
	border-right: 1px solid #ced4da;
	padding-right: 0.75rem;
	padding-bottom: 0.75rem;
	padding-top: 0.75rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border-radius: 0 0 0.25rem 0.25rem;
}

/* ================== 品種選項 ==================*/
div.pet-type {
	display: inline-block;
	margin-left: 0.75rem;
	height: 2rem;
}

div.pet-type input.form-control {
	width: 20px;
	display: inline-block;
}

div label.pet-label {
	font-weight: 400 !important;
	display: inline;
	position: relative;
	bottom: 0.75rem;
	left: 0.25rem;
}

/* ================== main css 調整 ==================*/
.card {
	margin: 0 20px;
}

.content-header {
    padding: 15px 0.5rem 10px 0.5rem;
}

.card.card-secondary{
	margin: 0 28.75px 26px 28.75px;
}