<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Remove Modal content   -->
<div th:fragment="saleRemoveModal" class="modal fade" id="RemoveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">資料刪除</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        確認要刪除此筆資料?
        <p id="deleteModalMessage"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">離開</button>
        <button type="submit" class="btn btn-danger btn-remove-confirm">確認</button>
      </div>
    </div>
  </div>
</div>
<!-- /.Remove Modal content   -->

<!-- Edit Modal content   -->
<div th:fragment="saleEditModal" class="modal fade" id="EditModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">資料編輯</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="saleId-modal-edit" class="col-form-label">優惠編號</label>
            <input type="text" id="saleId-modal-edit" class="form-control saleEdit" name="id" readonly>
          </div>

          <div class="form-group">
            <label for="saleName-modal-edit" class="col-form-label">優惠名稱</label>
            <input type="text" id="saleName-modal-edit" class="form-control saleEdit" name="saleName">
          </div>

          <div class="form-group">
            <label for="saleContent-modal-edit" class="col-form-label">優惠內容</label>
            <textarea type="text" id="saleContent-modal-edit"  class="form-control saleEdit" name="saleContent"></textarea>
          </div>

          <div class="form-group">
            <label for="saleStartTime-modal-edit" class="col-form-label">開始時間</label>
            <input type="datetime-local" id="saleStartTime-modal-edit" class="form-control saleEdit" name="startTime">
          </div>

          <div class="form-group">
            <label for="saleEndTime-modal-edit" class="col-form-label">結束時間</label>
            <input type="datetime-local" id="saleEndTime-modal-edit" class="form-control saleEdit" name="endTime">
          </div>

          <div class="form-group">
            <label class="col-form-label">優惠項目</label>
            <select multiple="multiple" id="saleItemEdit" class="col-form-label saleEdit" name="svcDetailIds">
                <th:block th:each="category : ${categories}">
                  <optgroup th:label="${category.svcCategoryName}">
                    <th:block th:each="service : ${services}" th:if="${service.serviceCategory[0].id == category.id}">
                      <option th:value="${service.id}" th:text=" '(' + ${service.salonServicePetType[0].typeName} + ') ' + ${service.svcName}"></option>
                    </th:block>
                  </optgroup>
                </th:block>
            </select>
          </div>

          <div class="form-group">
            <label class="col-form-label">優惠方式</label>
             <select  class="form-control saleEdit" id="saleStrategy-modal-edit">
               <option value="default" disabled>請選擇</option>
               <option value="-99" selected>不更改</option>
               <option value="0">打折 (1 - 10 折)</option>
               <option value="1">折扣 (元)</option>
             </select>
          </div>
          <div class="form-group">
            <label class="col-form-label" hidden="hidden" th:attr="saleType=0">打折折數</label>
            <input type="number" class="form-control saleEdit" min="1" max="10" hidden="hidden" name="salePrice" th:attr="saleType=0">
            <label class="col-form-label" hidden="hidden" th:attr="saleType=1">折扣元數</label>
            <input type="number" class="form-control saleEdit" min="0" hidden="hidden" name="salePrice" th:attr="saleType=1">
          </div>

          <div>
            <p id="editModalMessage"></p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">離開</button>
        <button type="submit" class="btn btn-primary btn-edit-confirm">確認修改</button>
      </div>
    </div>
  </div>
</div>
<!-- /. Edit Modal content   -->

<!-- Add Modal content   -->
<div th:fragment="saleAddModal" class="modal fade" id="AddModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">資料新增</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="saleName-modal-add" class="col-form-label">優惠名稱</label>
            <input type="text" id="saleName-modal-add" class="form-control saleAdd" name="saleName">
          </div>

          <div class="form-group">
            <label for="saleContent-modal-add" class="col-form-label">優惠內容</label>
            <textarea type="text" id="saleContent-modal-add"  class="form-control saleAdd" name="saleContent"></textarea>
          </div>

          <div class="form-group">
            <label for="saleStartTime-modal-add" class="col-form-label">開始時間</label>
            <input type="datetime-local" id="saleStartTime-modal-add" class="form-control saleAdd" name="startTime">
          </div>

          <div class="form-group">
            <label for="saleEndTime-modal-add" class="col-form-label">結束時間</label>
            <input type="datetime-local" id="saleEndTime-modal-add" class="form-control saleAdd" name="endTime">
          </div>

          <div class="form-group">
            <label class="col-form-label">優惠項目</label>
            <select multiple="multiple" id="saleItemAdd" class="col-form-label saleAdd" name="svcDetailIds">
              <th:block th:each="category : ${categories}">
                <optgroup th:label="${category.svcCategoryName}">
                  <th:block th:each="service : ${services}" th:if="${service.serviceCategory[0].id == category.id}">
                    <option th:value="${service.id}" th:text=" '(' + ${service.salonServicePetType[0].typeName} + ') ' + ${service.svcName}"></option>
                  </th:block>
                </optgroup>
              </th:block>
            </select>
          </div>

          <div class="form-group">
            <label class="col-form-label">優惠方式</label>
            <select  class="form-control saleAdd" id="saleStrategy-modal-add">
              <option value="default" disabled selected>請選擇</option>
              <option value="0">打折 (1 - 10 折)</option>
              <option value="1">折扣 (元)</option>
            </select>
          </div>
          <div class="form-group">
            <label class="col-form-label" hidden="hidden" th:attr="saleType=0">打折折數</label>
            <input type="number" class="form-control saleAdd" min="1" max="10" hidden="hidden" name="salePrice" th:attr="saleType=0">
            <label class="col-form-label" hidden="hidden" th:attr="saleType=1">折扣元數</label>
            <input type="number" class="form-control saleAdd" min="0" hidden="hidden" name="salePrice" th:attr="saleType=1">
          </div>

          <div>
            <p id="addModalMessage"></p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">離開</button>
        <button type="submit" class="btn btn-primary btn-add-confirm">確認新增</button>
      </div>
    </div>
  </div>
</div>
<!-- /. Add Modal content   -->

</body>
</html>