<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
<!-- 左邊選單區 Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" id="sidebar" th:fragment="sidebar">
    <!-- Brand Logo -->
    <a th:href="@{/ipet-back/home}" class="brand-link">
        <img th:src="@{/backstage/img/home.png}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">IPET 寵物</span>
    </a>

    <!-- Left Sidebar -->
    <div class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img th:src="@{/backstage/img/AdminLTELogo.png}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block" th:text="${#authentication.getName()}"></a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-header" sec:authorize="hasAnyRole('humanAdmin','ROLE_boss')">
                    <b>員工專區</b>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('humanAdmin','ROLE_boss')">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-solid fa-user-tie"></i>
                        <p>
                            員工管理
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/ipet-back/staffs}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>員工列表</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/ipet-back/staffs}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>員工權限</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-header" sec:authorize="hasAnyRole('ROLE_boss','ROLE_memberAdmin')">
                    <b>會員專區</b>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ROLE_boss','ROLE_memberAdmin')">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-solid fa-users"></i>
                        <p>
                            會員資料管理
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/ipet-back/members}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>會員列表</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/ipet-back/pets}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>寵物列表</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-header" sec:authorize="hasAnyRole('ROLE_boss','ROLE_salonEmp','ROLE_salonAdmin')">
                    <b>寵物美容專區</b>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ROLE_boss','ROLE_salonEmp','ROLE_salonAdmin')">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-regular fa-clipboard-list"></i>
                        <p>
                            美容預約管理
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/ipet-back/appoints}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>預約總覽</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/ipet-back/appoints/0}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>已付訂金的預約</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/ipet-back/appoints/1}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>已完成的預約</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/ipet-back/appoints/2}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>已取消的預約</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/ipet-back/appoints/3}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>逾時未到的預約</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ROLE_boss','ROLE_salonEmp','ROLE_salonAdmin')">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-calendar-alt"></i>
                        <p>
                            班表管理
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/ipet-back/schedules/calendar}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>班表瀏覽</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/ipet-back/schedules}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>班表列表</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ROLE_boss','ROLE_salonEmp','ROLE_salonAdmin')">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-solid fa-dog"></i>
                        <p>
                            服務項目管理
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/ipet-back/services/categories}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>服務類型</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/ipet-back/services}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>服務細項</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ROLE_boss','ROLE_salonEmp','ROLE_salonAdmin')">
                    <!--  TODO: {寵物美容專區-優惠管理} 請修改優惠管理的 href  -->
                    <a href="#" class="nav-link">
                        <!--  TODO: {寵物美容專區-優惠管理} 可以修改優惠管理的icon，參考網站: font awesome  -->
                        <i class="nav-icon fas fa-solid fa-receipt"></i>
                        <p>
                            美容優惠管理
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <!--    TODO: {寵物美容專區-優惠管理} 請評估是否要有子項目，需要的話請於按照  <li class="nav-item">... </li> 進行新增  -->
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>優惠列表</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->

</aside>
<!-- /.aside -->
</body>
</html>